* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    line-height: 1.6;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    font-family: Roboto, sans-serif;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/7;
    background-color: rgb(29, 148, 188);
    color: white;
    padding: .5rem;
    font-size: 2rem;
}

.header {
    grid-column: 2/7
}